.main-container {
    margin: 0 4rem;
    padding-top: 4rem;
    padding-bottom: 0;
    padding-right: 2rem;
    padding-left: 2rem;
}

@media (max-width: 790px) {
  .main-container {
    margin: 0 2rem;
    padding: 3rem 1rem;
  }
}