.header {
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    width: 80px;
}

@media (max-width: 790px) {
    .header {
        padding: 1rem;
    }

    .logo {
        width: 50px;
    }
}