.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
}

.contact-container a {
    color: #8B4513;
    text-decoration: none;
}

@media (max-width: 790px) {
    .contact-container {
        margin: 20px;
    }
}