.footer {
    padding: 2rem;
    width: 100vw;
}

.footer-text {
    margin: 0;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
}

footer a {
    color: #8B4513;
    text-decoration: none;
}

@media (max-width: 790px) {
    .footer {
        padding: 1rem;
    }
}