.footer {
    box-sizing: border-box;
    padding: 2rem;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.footer-text {
    margin: 0;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
}