.footer {
    padding: 2rem;
    width: 100vw;
}

.footer-text {
    margin: 0;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 790px) {
    .footer {
        padding: 1rem;
    }
}