.app-container {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background: linear-gradient(135deg, #FFEDD5, #FFCBA4, #FFB3A0);
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}
